In [9]:
import pandas as pd
import numpy as np

df=pd.read_csv('NY RENTS BY YEAR.csv', na_values=['#DIV/0!'])
df.shape

(198, 12)

In [10]:
df.dtypes

areaName     object
Borough      object
2011        float64
2012        float64
2013        float64
2014        float64
2015        float64
2016        float64
2017        float64
2018        float64
2019        float64
2020        float64
dtype: object

In [11]:
df.groupby('Borough').mean()

,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
Borough,,,,,,,,,,
Bronx,1278.468750,1522.170139,1394.637879,1373.625361,1488.068194,1609.028506,1710.521630,1807.149593,1856.472049,1881.450530
Brooklyn,2048.538229,2131.771717,2214.548419,2273.742908,2358.358844,2450.278333,2409.754167,2460.756309,2559.607750,2504.674706
Manhattan,3195.898569,3279.155092,3311.668981,3337.523148,3454.229730,3582.217593,3464.873874,3495.588964,3636.252252,3365.108108
Queens,1616.859909,1862.972643,1824.371212,1841.410410,1902.979582,1991.138264,2071.030754,2087.562702,2095.836806,2106.852106
Staten Island,NaN,1562.857143,1614.666667,1652.166667,1690.083333,1988.750000,1927.583333,1884.583333,2018.000000,1946.000000